{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href= {{ url_for('static', filename='CSS/savvy.css') }}>
    <div id="ribbon">
        <h1 style="margin-top: 10%">Build Up Your Team With #TheProject</h1>
        <br>
        <div class="ui buttons">
            <a href= {{ url_for('register') }}><button class="ui button">Register</button></a>
            <div class="or"></div>
            <a href= {{ url_for('login') }}><button class="ui positive button">Sign In</button></a>
        </div>
    </div>
{% endblock %}
