<!--
    Test Function
    Feel free to modify to perform test
-->
{% macro foo(x) %}
    <h2> FOOO </h2>
{% endmacro %}

<!--
    Header
-->
{% macro header() %}
    <head>
        <title>SavvyWolves The Project</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href= {{ url_for('static', filename='CSS/semantic.css') }}>
        <link rel="stylesheet" href= {{ url_for('static', filename='CSS/semantic.min.css') }}>        
        <script src= {{ url_for('static', filename='CSS/semantic.js') }}></script>
        <script src= {{ url_for('static', filename='CSS/semantic.min.js') }}></script>
        <script src= {{ url_for('static', filename='CSS/savvy.js') }}></script>
    </head>
{% endmacro %}

<!--
    Side bar
-->
{% macro sideBar() %}
    <div class="ui left vertical inverted sidebar labeled icon menu">
        <a class="item" href="./welcome.py.cgi">
            <i class="home icon"></i>
            Home
        </a>
        <a id="loginbtn" class="item" href="./login.py.cgi">
            <i class="smile icon"></i>
            Log In
        </a>
        <a id="regobtn" class="item" href="./rego.py.cgi">
            <i class="plus icon"></i>
            Sign Up
        </a>
    </div>
{% endmacro %}

<!--
    Navigation bar
-->
{% macro navBar() %}
    <div class="ui attached stackable menu">
        <a id="sidebar" class="item">
            <i class="sidebar icon"></i>
        </a>
        <div class="header item">
            <a href= {{ url_for('home') }}>Home</a>
        </div>
        <a class="item">
            About Us
        </a>
        <a class="item">
            Jobs
        </a>
        <a class="item">
            Locations
        </a>
        <a class="item">
            Anything Else
        </a>
    </div>
{% endmacro %}

<!--
    Nag bar
-->
{% macro nag() %}
    <div class="ui inline cookie nag">
        <span class="title">
            We use cookies to ensure you get the best experience with #TheProject
        </span>
        <i class="close icon"></i>
    </div>
{% endmacro %}
