{% extends 'base.html' %}

{% block content %}
    <div class="ui two column middle aligned very relax stackable grid segment">
        <div class="column">
            <form id="loginForm" class="ui form segment" method="post" action= {{ url_for('login') }} >
                <div class="required field">
                    <label>Username</label>
                    <input type="text" id="username" name="username" placeholder="Username">
                </div>
                <div class="required field">
                    <label>Password</label>
                    <input type="Password" id="password" name="password" placeholder="Password">
                </div>
                <input type="hidden" name="next" value= {{ request.args.get('next') }} >
                <button id="loginbtn" class="fluid ui blue submit button" type="submit">Sign In</button>
            </form>
        </div>
        <div class="ui vertical divider">
            Or
        </div>
        <div class="center aligned column segment">
            <div class="ui small circular image">
                <img src= {{ url_for('static', filename='images/user.png') }} >
            </div>
            <br>
            <br>
            <a href= {{ url_for('register') }} >
                <div class="ui big green labeled icon button">
                    <i class="signup icon"></i>
                    Sign Up
                </div>
            </a>
            <br>
            <br>
            <a class="item" href= {{ url_for('recover') }} >
                <i class="privacy icon"></i>
                Forgot your password?
            </a>
        </div>
    </div>
{% endblock %}
