<!DOCTYPE html>
<html lang="en">
    {% from 'HTMLHelper.html' import header %}
    {{ header() }}
    <body>
        {% from 'HTMLHelper.html' import sideBar %}
        {{ sideBar() }}

        <!-- THIS DIV IS TOO F**KING IMPORTANT -->
        <!-- DON'T YOU DARE TO CHANGE IT -->
        <div class="pusher">
            {% from 'HTMLHelper.html' import nag %}
            {{ nag() }}

            {% from 'HTMLHelper.html' import navBar %}
            {{ navBar() }}

            <!-- Main Body -->

            <!-- PrefixFree to deal with vendor prefixes -->
            <script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript"></script>
        </div>
    </body>
</html>
