/*Basic reset*/
* {margin: 0; padding: 0;}

html, body {height: 100%;}

body {
  margin: 0;
  /*background: #000;*/
  background-color: #f1f1f1;
  min-height: 100%;
  //position: relative;
  //overflow: auto;
}

video {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  //transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  object-fit: cover;
}

.stopfade {
  opacity: .5;
}

#savvy {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin: 2rem;
  float: right;
  font-size: 1.2rem;
  position: absolute;
  top: 40px;
  right: 0;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

#savvy button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}

#savvy button:hover {
  background: rgba(0, 0, 0, 0.5);
}

#link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  transition: .6s background;
}

#link:hover {
  background: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 500px) {
  div {
    width: 70%;
  }
}

@media screen and (max-device-width: 800px) {
  html {
    /*background: url(//demosthenes.info/assets/images/savvy.jpg) #000 no-repeat center center fixed;*/
  }
  #bgvid {
    display: none;
    position: relative;
  }
}

#logo {
    width: 100%;
    opacity: 1;
    padding-bottom: 5px;
}

.hit-the-floor {
    margin-top: 20%;
    color: #fff;
    font-size: 24em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    text-align: center;
}

#copyright {
  margin-left: 5%;
}

#body::-webkit-scrollbar {
 display: none;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:253px; /* Height of the footer element */
}
#footer {
  background:#fff;
  color: #000;
	width:100%;
	height:253px;
	position:absolute;
	bottom:0;
	left:0;
}

#homeText {
  margin: 6%;
}


.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}
