{% extends 'base.html' %}

{% block content %}

    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui text container">
        <h1 class="ui inverted header">
          This is who we are
        </h1>
        <h2>A bunch of people trying to make a difference</h2>
      </div>

    </div>

    <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Companies and Companions</h3>
          <p> smaller businesses can search for the right job seekers, according to their right skills and criteria</p>
          <h3 class="ui header">It all comes at no charge</h3>
          <p>Yes that's right, businesses are also given the option of posting work opportunities free of charge and allow for job seekers to show them their interest.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">

        </div>
      </div>
    </div>
  </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <p>
                    <img src="/static/images/thang.jpg" class="ui small circular image" style="margin:3% 30%;">
                    <b>Thang</b><br> Loves ultimate frisbee
                    </p>
                </div>
                <div class="column">
                    <p>
                    <img src="/static/images/mary.jpg" class="ui small circular image" style="margin:3% 30%;">
                    <b>Mary</b><br> Loves making new friends
                    </p>
                </div>
                <div class="column">
                    <p>
                    <img src="/static/images/weiz.jpg" class="ui small circular image" style="margin:3% 30%;">
                    <b>Weiz</b><br> Loves the beach
                    </p>
                </div>
            </div>
        </div>
    </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Attitude</h3>
      <p>We love learning new things and connecting with people</p>
      <h3 class="ui header">We are still learning!</h3>
      <p>If you have anything you'd like to share with us, just shoot us a message! We are open to suggestions and inputs!</p>
      <a href="mailto:mary@savvysme.com.au" class="ui large button">Chat with us!</a>
    </div>
  </div>



{% endblock %}
