{% extends 'base.html' %}

{% block content %}

    <!--Facebook social plugin-->
    <div class="fb-like facebook-social-plugin" data-href="https://www.facebook.com/savvyhiring/?fref=ts" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>

    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                This is who we are
            </h1>
            <h2>A bunch of people trying to make a difference</h2>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">We Help Companies and Companions</h3>
                    <p> smaller businesses can search for the right job seekers, according to their right skills and criteria</p>
                    <h3 class="ui header">It all comes at no charge</h3>
                    <p>Yes that's right, businesses are also given the option of posting work opportunities free of charge and allow for job seekers to show them their interest.</p>
                </div>
                <div class="eight wide right floated column">
                    <img src= {{ url_for('static', filename='images/workbench.jpeg') }} class="ui massive bordered rounded image">
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <p>
                    <img src="/static/images/thang.jpg" class="ui small circular image" style="margin: 0 auto 20px;">
                    <b>Thang</b><br> Loves ultimate frisbee
                    </p>
                </div>
                <div class="column">
                    <p>
                    <img src="/static/images/mary.jpg" class="ui small circular image" style="margin: 0 auto 20px;">
                    <b>Mary</b><br> Loves making new friends
                    </p>
                </div>
                <div class="column">
                    <p>
                    <img src="/static/images/weiz.jpg" class="ui small circular image" style="margin: 0 auto 20px;">
                    <b>Weiz</b><br> Loves the beach
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">Attitude</h3>
            <p>We love learning new things and connecting with people</p>
            <h3 class="ui header">We are still improving!</h3>
            <p>If you have anything you'd like to share with us, just shoot us a message! We are open to suggestions and inputs!</p>

            <form id="chatWithUsForm" method="post">
                <div class="required field">
                    <textarea id="chatWithUs" class="chatWithUs" rows="5" cols="80" name="chatWithUs" placeholder="Tell us what you think! Feel free to leave your email too!"></textarea>
                </div>
                <button  class="ui green large button chatWithUsButton" >Chat with us!</button>
            </form>
        </div>
    </div>
{% endblock %}
