{% extends 'base.html' %}

{% block content %}
    <div class="ui internal celled grid segment">
        <!-- Navigation column -->
        <div class="five wide column">
            <!-- Keep this section sticky to viewport -->
            <div class="ui sticky">
                <div class="ui vertical fluid steps">
                    <a onclick="changeClass('0')" id="0" class="active link step step0">
                        <i class="user icon"></i>
                        <div class="content">
                            <div class="title">Profile Picture</div>
                            <div class="description">A photo to represent yourself</div>
                        </div>
                    </a>
                    <a onclick="changeClass('1')" id="1" class="link step step1">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">Basic information</div>
                            <div class="description">Tell us about yourself</div>
                        </div>
                    </a>
                    {% if form.type == 'candidate' %}
                        <a onclick="changeClass('2')" id="2" class="link step step2">
                            <i class="star icon"></i>
                            <div class="content">
                                <div class="title">Skills and preferences</div>
                                <div class="description">Your skills matter</div>
                            </div>
                        </a>
                    {% endif %}
                    <a onclick="changeClass('3')" id="3" class="link step step3">
                        <i class="setting outline icon"></i>
                        <div class="content">
                            <div class="title">Setting</div>
                            <div class="description">Configure your account</div>
                        </div>
                    </a>
                </div>

                <!-- Submit button for account form -->
                <button form="profileForm"
                        id="updatebtn"
                        class="ui green fluid submit button"
                        type="submit">
                    Update
                </button>
            </div>
        </div>

        <div id="stuck" class="eleven wide column">
            <div id="step0" class="ui raised segment">
                <h2 class="ui block header">Profile picture</h2>

                <!-- Photo Form -->
                <form id="photoForm"
                      enctype="multipart/form-data"
                      method="post"
                      role="form">
                    <!-- Profile picture -->
                    <div class="ui special cards">
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui inverted button">
                                                <a id="upload">
                                                    Change
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img id='photoajax' src= {{ user.get('dp', url_for('static', filename='images/user.png')) }} alt="looking good">
                            </div>
                        </div>
                    </div>

                    <!-- Hidden upload button. triggered with js -->
                    <div class="ui action input" style="visibility: hidden">
                        <input type="text" id="_attachmentName">
                        <label for="attachmentName" class="ui icon green button btn-file">
                            <i class="folder open outline icon"></i>
                            <input type="file" id="attachmentName" name="attachmentName" style="display: none">
                            <button id="submit" type="button" style="display: none">Upload</button>
                        </label>
                    </div>
                </form>
            </div>

            <!-- Profile Form -->
            <form id="profileForm"
                  class="ui form"
                  action= {{ url_for('account') }}
                  method="post"
                  role="form">

                <div id="step1" class="ui raised segment">
                    <h2 class="ui block header">Basic Information</h2>
                    <div class="ui very relax stackable grid">
                        <div class="ten wide column">
                            <!-- Detail Form -->
                            {% if form.type == 'employer' %}
                                <div class="field">
                                    <label>Business Name</label>
                                    {{ form.businessName }}
                                </div>
                                <div class="field">
                                    <label>Contact Name</label>
                                    {{ form.contactName }}
                                </div>
                                <div class="field">
                                    <label>Contact Number</label>
                                    {{ form.phoneNumber }}
                                </div>
                                <div class="field">
                                    <label>Website</label>
                                    {{ form.website }}
                                </div>
                                <div class="field">
                                    <label>Address</label>
                                    {{ form.streetAddress }}
                                </div>
                                <div class="field">
                                    <label>About</label>
                                    {{ form.about }}
                                </div>
                            {% else %}
                                <div class="field">
                                    <label>First Name</label>
                                    {{ form.firstName }}
                                </div>
                                <div class="field">
                                    <label>Last Name</label>
                                    {{ form.lastName }}
                                </div>
                                <div class="field">
                                    <label>Contact Number</label>
                                    {{ form.phoneNumber }}
                                </div>
                                <div class="field">
                                    <label>Suburb</label>
                                    {{ form.location }}
                                </div>

                                <div class="field">
                                    <label>Gender</label>
                                    <div class="ui fluid selection dropdown field ">
                                        {{ form.gender }}
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select Gender</div>
                                        <div class="menu">
                                            {% for field in form.gender.choices %}
                                                <div class="item" data-value= {{ field[0] }} >
                                                    {{ field[1] }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>D.O.B</label>
                                    {{ form.birthday(id='datetimepicker') }}
                                </div>
                                <div class="field">
                                    <label>About you</label>
                                    {{ form.about(placeholder='Let us know a little more about you') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if form.type == 'candidate' %}
                    <div id="step2" class="ui raised segment">
                        <h2 class="ui block header">Skills and Preferences</h2>
                        <div class="ui very relax stackable grid">
                            <div class="ten wide column">
                                <div class="field">
                                    <label>Current location</label>
                                    {{ form.location }}
                                </div>
                                <div class="field">
                                    <label>Skills</label>
                                    {{ form.skills(placeholder='separate with comma') }}
                                </div>
                                <div class="field">
                                    <label>Residency status</label>
                                    <div class="ui fluid selection dropdown field ">
                                        {{ form.residency }}
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select Status</div>
                                        <div class="menu">
                                            {% for field in form.residency.choices %}
                                                <div class="item" data-value= {{ field[0] }}>
                                                    {{ field[1] }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Education</label>
                                    <div class="ui fluid selection dropdown field ">
                                        {{ form.education }}
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select education</div>
                                        <div class="menu">
                                            {% for field in form.education.choices %}
                                                <div class="item" data-value= {{ field[0] }}>
                                                    {{ field[1] }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Availability</label>
                                    <div class="ui fluid selection dropdown field">
                                        {{ form.availability }}
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select availability</div>
                                        <div class="menu">
                                            {% for field in form.availability.choices %}
                                                <div class="item" data-value= {{ field[0] }}>
                                                    {{ field[1] }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div id="step3" class="ui raised segment">
                    <h2 class="ui block header">Account Setting</h2>
                    <h3>Coming Soon</h3>
                </div>
            </form>
        </div>
    </div>

    <!--
    This is what I call hackathon coding style.
    Awful looking code.
    Clean up later.
    it works though
    -->
    <script>
        function changeClass(step) {
            if (step != undefined) {
                stepInt = parseInt(step);
                if (stepInt != 'NaN') {
                    var pattrn = new RegExp("active");
                    var reg = pattrn.test(document.getElementById(step).className)
                    if (!reg) {
                        document.getElementById(step).className += " active";

                        for (i = 0; i <= 3; i++) {
                            if (i == stepInt) { continue; }
                            if (document.getElementById(String(i))) {
                                document.getElementById(String(i)).className = document.getElementById(String(i)).className.replace(/(?:^|\s)active(?!\S)/g , '');
                            }
                        }
                    }
                }
            }
        }

        // Elevator 0
        var start = document.querySelector('.step0');
        var target = document.querySelector('#step0');
        var elevator = new Elevator({
            element: start,
            targetElement: target,
            duration: 1500
        });

        // Elevator 1
        var start1 = document.querySelector('.step1');
        var target1 = document.querySelector('#step1');
        var elevator1 = new Elevator({
            element: start1,
            targetElement: target1,
            duration: 1500
        });

        // Elevator 2
        var start2 = document.querySelector('.step2');
        var target2 = document.querySelector('#step2');
        var elevator2 = new Elevator({
            element: start2,
            targetElement: target2,
            duration: 1500
        });

        // Elevator 3
        var start3 = document.querySelector('.step3');
        var target3 = document.querySelector('#step3');
        var elevator3 = new Elevator({
            element: start3,
            targetElement: target3,
            duration: 1500
        });
    </script>
{% endblock %}
