{% extends 'base.html' %}

{% block content %}
    <form id="changepasswordForm" class="ui form segment" method="post" action= {{ url_for("change") }} >
        <div class="required field">
            <label>New Password</label>
            {{ form.password() }}
        </div>
        <div class="required field">
            <label>Password</label>
            {{ form.passwordconfirm() }}
        </div>
        {% if extra %}
            <input type="hidden" name = "email" value= {{ extra }}>
        {% else %}
            <input type="hidden" name = "email" value= ''>
        {% endif %}
        <button id="loginbtn" class="fluid ui blue submit button" type="submit">Change Password</button>
    </form>
{% endblock %}
