{% extends 'base.html' %}

{% block script %}
{% endblock %}

{% block content %}
    <!--Facebook social plugin-->
    <div class="fb-like facebook-social-plugin" data-href="https://www.facebook.com/savvyhiring/?fref=ts" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>

    <div class = "ui white vertical masthead center aligned">
        <div id="bgvid">
            <video autoplay loop>
                <source class="videobg" src= {{ url_for('static', filename='videos/343647377.mp4') }} type="video/mp4">
            </video>
            <div id="savvy">
                <img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
                <h2>The new way to hire is here!</h2>
                <p>
                    Join for free today and get access to jobs available in Sydney.
                </p>

                {% if user_logged_in == false %}
                    <a class="ui fluid large blue icon button" href= {{ url_for('register') }} >Find Jobs</a>

                {% endif %}
            </div>
        </div>
    </div>
    <div class="ui vertical stripe quote segment">
        <h2 class="ui horizontal header divider" style="font-size:4em;margin-bottom: -7%;margin-top: 5%;">
            <a href="#">Why use SavvyHire</a>
        </h2>
        <div class="ui equal width stackable internally grid">
            <div class="center aligned row">
                <div class="column" id="homeText">
                    <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/savvyhire/94f84f4e-map-icon.png" alt="">
                    <h3>Filter right</h3>
                    <p>Save time using our filters to search only the right jobs</p>
                </div>
                <div class="column" id="homeText">
                    <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/savvyhire/e43ad230-book-icon.png" alt="">
                    <h3>Digital CV</h3>
                    <p>Your profile is like a digital CV, <strong>much</strong> better than a boring print out</p>
                </div>
                <div class="column" id="homeText">
                    <img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/savvyhire/7cb63ed8-luggage-icon.png" alt="">
                    <h3>Get noticed</h3>
                    <p id="home">Make a work profile with us and if employers like it they will send you an expression of interest! <br><small>even while you are on holiday!</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe">
        <div class="ui middle aligned stackable grid container">
            <div class="center aligned column">
                <h3>What are you waiting for?</h3>
                <a class="ui large blue icon button" href= {{ url_for('register') }} >Find Jobs</a>
            </div>
        </div>
    </div>
{% endblock %}
