{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href= {{ url_for('static', filename='CSS/savvy.css') }}>

    <!-- <video autoplay poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop> -->
    <video autoplay id="bgvid" loop>
        <!-- Find another video and replace this
        <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
        <source src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4">-->
      
        <source src="//s3.amazonaws.com/distill-videos/videos/processed/2/MVI_0481.mp4.webm" type="video/mp4">
    </video>
    <div id="savvy">
        <img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
        <h2>The new way to hire is here!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta dictum turpis, eu mollis justo gravida ac. Proin non eros blandit, rutrum est a, cursus quam. Nam ultricies, velit ac suscipit vehicula, turpis eros sollicitudin lacus, at
            convallis mauris magna non justo. Etiam et suscipit elit. Morbi eu ornare nulla, sit amet ornare est. Sed vehicula ipsum a mattis dapibus. Etiam volutpat vel enim at auctor.
        </p>

        {% if user_logged_in == false %}
            <a href= {{ url_for('login') }} ><button>Express your interest here</button></a>
        {% endif %}
    </div>
{% endblock %}
