<!--
    Test Function
    Feel free to modify to perform test
-->
{% macro foo(x) %}
    <h2> FOOO {{ x }} </h2>
{% endmacro %}

<!--
    Header
-->
{% macro header() %}
    <head>
        <title>SavvyWolves The Project</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href= {{ url_for('static', filename='CSS/semantic.css') }}>
        <link rel="stylesheet" href= {{ url_for('static', filename='CSS/semantic.min.css') }}>
        <script src= {{ url_for('static', filename='CSS/semantic.js') }}></script>
        <script src= {{ url_for('static', filename='CSS/semantic.min.js') }}></script>
        <script src= {{ url_for('static', filename='CSS/savvy.js') }}></script>
    </head>
{% endmacro %}

<!--
    Warning messages
-->
{% macro warning(level, header, message) %}
    <!-- {% set level = "ui " + level + " message" %} -->
    <div class= 'ui {{ level }} message icon attached small'>
        <i class="announcement icon"></i>
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                {{ header }}
            </div>
            <p>
                {{ message }}
            </p>
        </div>
    </div>
{% endmacro %}

<!--
    Side bar
-->
{% macro sideBar(logged_in) %}
    <div class="ui left vertical inverted sidebar labeled icon menu">
        <a class="item" href= {{ url_for('home') }} >
            <i class="home icon"></i>
            Home
        </a>
        {% if logged_in == false %}
            <a id="loginbtn" class="item" href= {{ url_for('login') }} >
                <i class="smile icon"></i>
                Log In
            </a>
            <a id="regobtn" class="item" href= {{ url_for('register') }} >
                <i class="plus icon"></i>
                Sign Up
            </a>
        {% else %} 
            <a id="signoutbtn" class="item" href= {{ url_for('logout') }} >
                <i class="sign out icon"></i>
                Log Out
            </a>
        {% endif %}
    </div>
{% endmacro %}

<!--
    Navigation bar
-->
{% macro navBar(logged_in, user) %}
    <div class="ui attached stackable menu">
        <a id="sidebar" class="item">
            <i class="sidebar icon"></i>
        </a>
        <div class="header item">
            <a href= {{ url_for('home') }}>Home</a>
        </div>
        <a class="header item">
            About Us
        </a>

        {% if logged_in == false %}
            <a class="header item">
                Jobs
            </a>
            <a class="header item">
                Locations
            </a>
            <a class="header item">
                Anything Else
            </a>
        {% else %}
            <a href= {{ url_for('profile', account=user['username']) }} class="item">
                <i class="child icon"></i> Welcome back {{ user['username'] }}
            </a>
        {% endif %}
    </div>
{% endmacro %}

<!--
    Nag bar
-->
{% macro nag() %}
    <div class="ui inline cookie nag">
        <span class="title">
            We use cookies to ensure you get the best experience with #TheProject
        </span>
        <i class="close icon"></i>
    </div>
{% endmacro %}
