{% extends 'base.html' %}

{% block content %}
    <div class="ui two column middle aligned very relax stackable grid segment">
        <div class="column">
            <form id="jobForm"
                  class="ui form segment"
                  method="post"
                  action = {{ url_for('postJob') }}
                  role="form">
                <!-- Detail Form -->
                <div class="required field">
                    <label>Title</label>
                    {{ form.title }}
                </div>

                <div class="field">
                    <label>Availability</label>
                    {{ form.availability }}
                    <p>hold cmd or ctrl and click available days</p>
                </div>

                <div class="field">
                    <label>Location</label>
                    {{ form.location(placeholder="eg. Chatswood, NSW") }}
                </div>

                <div class="field">
                    <label>Visa Requirement</label>
                    <div class="ui fluid selection dropdown field ">
                        {{ form.residency }}
                        <i class="dropdown icon"></i>
                        <div class="default text">Select type of visa</div>
                        <div class="menu">
                            {% for field in form.residency.choices %}
                                <div class="item" data-value= {{ field[0] }} >
                                    {{ field[1] }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="required field">
                    <label>Description</label>
                    {{ form.description(placeholer="Describe the role, duties and position") }}
                </div>



                <button id="updatebtn"
                        class="ui blue fluid submit button"
                        type="submit">
                    Create Job
                </button>
            </form>
        </div>
        <div class="ui vertical divider">
            Or
        </div>
        <div class="center aligned column segment">
            <div class="ui medium circular image">
                <img src= {{ url_for('static', filename='images/user1.jpg') }} >
            </div>
            <br>
            <br>
            <a href= {{ url_for('account') }} >
                <div class="ui big green labeled icon button">
                    <i class="setting icon"></i>
                    Manage existing jobs
                </div>
            </a>
        </div>
    </div>
{% endblock %}
