{% extends 'base.html' %}

{% block content %}
<form id="jobForm"
      class="ui form"
      action= {{ url_for('jobs') }}
      method="post"
      role="form">

    <div id="step1" class="ui raised segment">
        <h2 class="ui block header">Create Jobs</h2>
        <div class="ui very relax stackable grid">
            <div class="ten wide column">
                <!-- Detail Form -->

                    <div class="Required field">
                        <label>Title</label>
                        {{ form.title }}
                    </div>

                    <div class="required field">
                        <label>Job Type</label>
                        <div class="ui fluid selection dropdown field ">
                            {{ form.jobType }}
                            <i class="dropdown icon"></i>
                            <div class="default text">Select type</div>
                            <div class="menu">
                                {% for field in form.jobType.choices %}
                                <div class="item" data-value= {{ field[0] }}>
                                    {{ field[1] }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="required field">
                        <label>Availability</label>
                        {{ form.availability }}
                        <p>hold cmd or ctrl and click available days</p>
                    </div>

                    <div class="required field">
                        <label>Description</label>
                        {{ form.description(placeholer="Describe the role, duties and position") }}
                    </div>

                    <button form="jobForm"
                            id="updatebtn"
                            class="ui green fluid submit button"
                            type="submit">
                        Create Job
                    </button>
            </div>
        </div>
    </div>

</form>
{% endblock %}
