{% extends 'base.html' %}

{% block content %}
    <div class="ui two column middle aligned very relax stackable grid segment">
        <div class="column">
            <form id="regoForm" class="ui form segment" method="post" action= {{ url_for('register') }}>
                <!-- USERNAME -->
                <div class="required field">
                    <label>Username</label>
                    {{ form.username(placeholder="Suggestion: JohnDoe123") }}
                </div>

                <!-- PASSWORD -->
                <div class="required field">
                    <label>Password</label>
                    {{ form.password(placeholer="Suggestion: password123") }}
                </div>
                <div class="required field">
                    <label>Confirm Password</label>
                    {{ form.confirm(placeholder="Confirm Password") }}
                </div>

                <!-- EMAIL -->
                <div class="field">
                    <label>Email</label>
                    {{ form.email(placeholder="Suggestion: abc@xyz.com") }}
                </div>

                <!-- ACCOUNT TYPE -->
                <div class="field">
                    <label>Account Type</label>
                    <div class="ui fluid selection dropdown field ">
                        {{ form.type }}
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Friend</div>
                        <div class="menu">
                            <div class="item" data-value="Candidate">
                                <img class="ui mini avatar image" src= {{ url_for('static', filename='images/user.png') }} >
                                Candidate
                            </div>
                            <div class="item" data-value="Employer">
                                <img class="ui mini avatar image" src= {{ url_for('static', filename='images/user.png') }} >
                                Employer
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SUBMIT BUTTON -->
                <button id="regobtn" class="fluid ui blue submit button" type="submit">Register</button>
            </form>
        </div>
        <div class="ui vertical divider">
            Or
        </div>
        <div class="center aligned column">
            <div class="ui small circular image">
                <img src= {{ url_for('static', filename='images/user.png') }} >
            </div>
            <br>
            <br>
            <a href= {{ url_for('login') }} >
                <div class="ui big green labeled icon button">
                    <i class="sign in icon"></i>
                    Sign In
                </div>
            </a>
            <br>
            <br>
            <a class="item" href= {{ url_for('recover') }} >
                <i class="privacy icon"></i>
                Forgot your password?
            </a>
        </div>
    </div>
{% endblock %}
