{% extends 'base.html' %}

{% block content %}
    <div class="ui two column middle aligned very relax stackable grid segment">
        <div class="column">
            <form id="registerForm" class="ui form segment" method="post" action= {{ url_for('register') }}>
                <!-- USERNAME -->
                <div class="required field">
                    <label>Username</label>
                    {{ form.username(placeholder="Suggestion: JohnDoe123") }}
                </div>

                <!-- PASSWORD -->
                <div class="required field">
                    <label>Password</label>
                    {{ form.password(placeholer="Suggestion: password123") }}
                </div>
                <div class="required field">
                    <label>Confirm Password</label>
                    {{ form.confirm(placeholder="Confirm Password") }}
                </div>

                <!-- EMAIL -->
                <div class="required field">
                    <label>Email</label>
                    {{ form.email(placeholder="Suggestion: abc@xyz.com") }}
                </div>

                <!-- ACCOUNT TYPE -->
                <div class="field">
                    <label>Account Type</label>
                    <div class="ui fluid selection dropdown field ">
                        {{ form.category }}
                        <i class="dropdown icon"></i>
                        <div class="default text">Select account type</div>
                        <div class="menu">
                            {% for field in form.category.choices %}
                                <div class="item" data-value= {{ field[0] }} >
                                    {{ field[1] }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class = "required field">
                  <input type="checkbox" name="termsConditions" value="check" /> I have read and agree to the <a href = {{ url_for('terms') }} target="_blank">Terms and Conditions</a> and <a href = {{ url_for('terms') }} target="_blank">Privacy Policy </a>
                </div>
                <!-- SUBMIT BUTTON -->
                <button id="regobtn" class="fluid ui blue submit button" type="submit">Register</button>
            </form>
        </div>
        <div class="ui vertical divider">
            Or
        </div>
        <div class="center aligned column">
            <div class="ui small circular image">
                <img src= {{ url_for('static', filename='images/user.png') }} >
            </div>
            <br>
            <br>
            <a href= {{ url_for('login') }} >
                <div class="ui big green labeled icon button">
                    <i class="sign in icon"></i>
                    Sign In
                </div>
            </a>
            <br>
            <br>
            <a class="item" href= {{ url_for('recover') }} >
                <i class="privacy icon"></i>
                Forgot your password?
            </a>
        </div>
    </div>
{% endblock %}
