{% extends 'base.html' %}

{% block script %}
    <!-- <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<link rel="stylesheet" href= {{ url_for('static', filename="CSS/style.css") }} >
	<script src= {{ url_for('static', filename="CSS/modernizr.js") }} ></script>
    <script src= {{ url_for('static', filename="CSS/jquery-2.1.1.js") }} ></script>
    <script src= {{ url_for('static', filename="CSS/jquery.mixitup.min.js") }} ></script>
    <script src= {{ url_for('static', filename="CSS/main.js") }} ></script>
    <script src= {{ url_for('static', filename='CSS/semantic.js') }}></script>
{% endblock %}

{% block content %}
    <main class="cd-main-content">
        <section class="cd-gallery">
            <ul>
                {% set id = 0 %}
                {% for user in jsonObject %}
                    <li class="mix {{user.get('firstName', '')}}
                                   {{user.get('lastName', '')}}
                                   {{user.get('location', '')}}
                                   {{user.get('surburb', '')}}
                                   avai-{{user.get('availability', '')}}
                                   {% for skill in user.get('skills') %} {{skill}} {% endfor %}">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable medium image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <button onclick="showmodal({{id}})" class="ui primary button show-modal">
                                                    Contact
                                                    {% if user.get('gender', None) == 'Male' %}
                                                        Him
                                                    {% elif user.get('gender', None) == 'Female' %}
                                                        Her
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <img src= {{ user.get('dp', url_for('static', filename='images/user1.jpg')) }} >
                                </div>
                                <div class="content">
                                    <a class="header">{{ user.get('firstName', 'fname')}} {{ user.get('lastName', 'lname') }}</a>
                                    <div class="meta">
                                        <span class="date">{{ user.get('location', 'unknown location') }}</span>
                                    </div>
                                    <div class="description">
                                        {{ user.get('about', 'Introduction') }}
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a>
                                        <i class="user icon"></i>
                                        {{ user.get('skills', None)|length }} skills
                                    </a>

                                    <span class="right floated">
                                        {% if user.get('availability', None) %}
                                            available {{ user.get('availability', None) }} days
                                        {% else %}
                                            Not available
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <div class="ui fullscreen modal {{id}}">
                        <i class="close icon"></i>
                        <div class="header">
                            {{ user.get('firstName', '') }}
                            {{ user.get('lastName', '') }}
                        </div>
                        <div class="image content">
                            <div class="image">
                            </div>
                            <div class="description">
                                <img class="ui large image" src= {{ user.get('dp', url_for('static', filename='images/user1.jpg')) }} >
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui approve green button">OK</div>
                            <div class="ui deny red button">Cancel</div>
                        </div>
                    </div>
                    {% set id = id+1 %}
                {% endfor %}

                <!-- 3 gaps to even the spaces -->
                <li class="gap"></li>
                <li class="gap"></li>
                <li class="gap"></li>
            </ul>
            <h2 class="cd-fail-message">¯\_(ツ)_/¯</h2>
            <h3 class="cd-fail-message">No Result Found</h3>
        </section>

        <div class="cd-filter cd-filter-block">
            <form class="ui form">
                <div class="grouped fields">
                    <!-- SEARCH BOX -->
                    <div class="fluid field">
                        <div class="cd-filter-content ui icon input">
                            <input type="search" placeholder="Search by text">
                            <i class="search icon"></i>
                        </div>
                    </div>

                    <!-- AVAILABILITY -->
                    <div class="cd-filter-block">
                        <h4>Availability</h4>
                        <div class="cd-filter-content cd-filters list">
                            {% for day in range(1, 8) %}
                                <li>
                                    <input class="filter" data-filter=".avai-{{day}}" type="checkbox" id="avai-{{day}}">
                                    <label class="checkbox-label" for="avai-{{day}}">{{ day }} day a week</label>
                                </li>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- JOB TYPE -->
                    <!-- <div class="cd-filter-block">
                        <h4>Types</h4>
                        <div class="cd-filter-content cd-filters list">
                            <li>
                                <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                                <label class="radio-label" for="radio1">All</label>
                            </li>

                            {% for type in range(1, 3) %}
                                <li>
                                    <input class="filter" data-filter=".radio{{type}}" type="radio" name="radioButton" id="radio{{type}}">
                                    <label class="radio-label" for="radio{{type}}">Choice {{type}}</label>
                                </li>
                            {% endfor %}
                        </div>
                    </div> -->
                </div>
            </form>

            <a href="#0" class="cd-close">Close</a>
        </div>

        <a href="#0" class="cd-filter-trigger">Filters</a>
    </main>

    <script>
        function showmodal(id) {
            console.log(id)
            var element='.ui.fullscreen.modal.'.concat(id);
            console.log(element);
            $(element)
                .modal('show')
            ;
        }
    </script
{% endblock %}
