{% extends 'base.html' %}

{% block content %}
    <!-- <input type="text" size="5" name="a"> +
    <input type="text" size="5" name="b"> =
    <span id="result">?</span>

    <button id="updatebtn" class="ui green submit button">
        Update
    </button> -->

    <form id="uploadform" method="post" enctype="multipart/form-data">
        <label for="file">Select a file</label>
        <input name="file" type="file">
        <button id="submit" type="button">Upload</button>
    </form>
    <p>Result Filename:&nbsp;<span id="resultFilename"> here</span></p>
    <p>Result Filesize:&nbsp;<span id="resultFilesize">here</span></p>

    <img  id='imagehere' src = {{ url_for('static', filename='images/user.png') }} />

    <script type=text/javascript>
        $(function() {
            // $('button#updatebtn').bind('click', function() {
            //     $.getJSON('/testajax', {
            //         a: $('input[name="a"]').val(),
            //         b: $('input[name="b"]').val()
            //     }, function(data) {
            //         $("#result").text(data.result);
            //     });
            //     return false;
            // });

            $('#submit').click(function() {
                event.preventDefault();
                var form_data = new FormData($('#uploadform')[0]);
                $.ajax({
                    type: 'POST',
                    url: '/uploadajax',
                    data: form_data,
                    contentType: false,
                    processData: false,
                    dataType: 'json'
                }).done(function(data, textStatus, jqXHR){
                    $("#resultFilename").text(data['name']);
                    $("#resultFilesize").text(data['size']);
                    $("#imagehere").attr('src', data['path']);
                }).fail(function(data) {
                    alert('error!');
                }).complete(function(data) {
                    // Schedule the next request when the current one has been completed
                    // setTimeout(ajaxInterval, 4000);
                    // console.log(data);
                    // console.log(textStatus);
                    // console.log(jqXHR);
                    // console.log('Success!');
                });
            });
        });
    </script>
{% endblock %}
