{% extends 'base.html' %}

{% block content %}
    <form id="photoForm" method="post" enctype="multipart/form-data">
        <div class="ui action input">
            <input type="text" id="_attachmentName">
            <label for="attachmentName" class="ui icon green button btn-file">
                <i class="folder open outline icon"></i>
                <input type="file" id="attachmentName" name="attachmentName" style="display: none">
            </label>
        </div>

        <button id="submit" type="button">Upload</button>
        <a id="upload"> change </a>
    </form>

    <p>Result Filename:&nbsp;<span id="resultFilename"> here</span></p>
    <p>Result Filesize:&nbsp;<span id="resultFilesize">here</span></p>
    <img id='photoajax' src = {{ url_for('static', filename='images/user.png') }} />

    <script type=text/javascript>
        $(function() {
            $('#upload').click(function(){
                $('#attachmentName').click();
            });

            $('#attachmentName').change(function() {
                $('#submit').click();
            });

            $('#submit').click(function() {
                event.preventDefault();
                var form_data = new FormData($('#photoForm')[0]);
                $.ajax({
                    type: 'POST',
                    url: '/dpupload',
                    data: form_data,
                    contentType: false,
                    processData: false,
                    dataType: 'json'
                }).done(function(data, textStatus, jqXHR){
                    $("#photoajax").attr('src', data['path']);
                    console.log('Success!');
                }).fail(function(data) {
                    alert('Failed!');
                }).complete(function(data) {
                    console.log('completed');
                });
            });
        });
    </script>
{% endblock %}
